
<!-- Begin Page Container Left -->
<section class="page-container-left" ui-view="viewPageContainerLeft"></section>
<!-- End Page Container Left -->
<!-- Begin Page Container Right -->
<section class="page-container-right">
    <!-- Begin Page Container Right -->
    <section class="page-container-right"  ui-view="viewPageContainerRight">

    </section>
    <!-- End Page Container Right -->
    <!-- Begin Page Container Left -->
    <!--
      -- BODY --
      -->
    <section class="page-container-left"  ui-view="viewPageContainerCenter">
sdqs
    </section>
    <!--
      -- END BODY --
      -->
    <!-- End Page Container Left -->
</section>
<!-- End Page Container Right -->
