
<!-- Begin Page Container Left -->
<section class="page-container-left view-left" ui-view="viewPageContainerLeft" ng-scrollbars ng-scrollbars-config="scrollbarConfig"></section>
<!-- End Page Container Left -->
<!-- Begin Page Container Right -->
<section class="page-container-right">
    <!-- Begin Page Container Right -->
    <section class="page-container-right view-right"  ui-view="viewPageContainerRight">

    </section>
    <!-- End Page Container Right -->
    <!-- Begin Page Container Left -->
    <!--
      -- BODY --
      -->
    <section class="page-container-left view-center"  ui-view="viewPageContainerCenter">

    </section>
    <!--
      -- END BODY --
      -->
    <!-- End Page Container Left -->
</section>
<!-- End Page Container Right -->
