<header class="campaign-header">
  <div class="campaign" ng-class="showView">
    <div class="container">
      <h2 class="title title-of-campaign"><span class="ref">{{campaign.currentItem.name}}</span></h2>
      <aside class="aside asside-of-campaign">Crée par <span class="v author">{{campaign.currentItem.user.name}}</span> le <span
      class="v date">{{campaign.currentItem.date | date : 'yyyy-MM-dd'}}</span>
      </aside>

      <section class="view-global">
        <!--h2 class="title title-of-camaign"><span class="ref">{{campaign.currentItem.name}}</span></h2>
        <aside class="aside">Crée par <span class="v author">{{campaign.currentItem.user.name}}</span> le <span class="v date">{{campaign.currentItem.date | date : 'yyyy-MM-dd'}}</span-->
        </aside>
        <div class="indicators clearfix">
          <div class="left">
            <am-indicator title="Scénarios" class="scenarios"
                          parameters="campaign.currentItem.scenarios.series.json"></am-indicator>

            <am-indicator title="Exigences" class="requirements"
                          parameters="campaign.currentItem.requirements.series.json"></am-indicator>

          </div>
          <div class="right">
            <am-chart-circle class="graph d3js circle"
                             parameters="campaign.currentItem.json"
                             width="70"
                             height="70"></am-chart-circle>
          </div>
        </div>

      </section>
      <section class="view-requirements clearfix">

        <div class="left">
          <div class="left">
            <am-indicator title="Exigences" show="true" class="scenarios"
                          parameters="campaign.currentItem.json"></am-indicator>
          </div>
          <div class="right">
            <am-chart-bar class="graph d3js bar"
                          parameters="campaign.currentItem.json"
                          width="70"
                          height="70"></am-chart-bar>
          </div>
        </div>

        <div class="right">
          <div class="left">
            <am-indicator title="Tests" class="scenarios" show="true"
                          parameters="campaign.currentItem.json"></am-indicator>
          </div>
          <div class="right">
            <am-chart-bar class="graph d3js bar"
                          parameters="campaign.currentItem.json"
                          width="70"
                          height="70"></am-chart-bar>
          </div>
        </div>

      </section>
      <section class="view-scenarios">
        <div class="left">
          <div class="left">
            <am-indicator title="Scénarios" show="true" class="scenarios"
                          parameters="campaign.currentItem.scenarios.series.json"></am-indicator>
          </div>
          <div class="right">
            <am-chart-bar class="graph d3js bar"
                          parameters="campaign.currentItem.scenarios.series.json"
                          width="70"
                          height="70"></am-chart-bar>
          </div>
        </div>


        <div class="right">
          <div class="left">
            <am-indicator title="Tests" class="scenarios" show="true"
                          parameters="campaign.currentItem.json"></am-indicator>
          </div>
          <div class="right">
            <am-chart-bar class="graph d3js bar"
                          parameters="campaign.currentItem.json"
                          width="70"
                          height="70"></am-chart-bar>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>

<section class="campaign-sub-header">
  <aside class="breadcrumb">
    <ul>
      <li><a href=""><i class="fa fa-home"></i> </a></li>
      <li><a href=""><div class="text-ellipsis">Obligations</div></a></li>
      <li><a href=""><div class="text-ellipsis">Ordre simple OBLIGATION - ACHAT</div></a></li>
      <li><a href=""><div class="text-ellipsis">Ouverture de l'application SANTORIN</div></a></li>
    </ul>
  </aside>

  <nav>
    <ul>
      <li><a href=""></a></li>
    </ul>
  </nav>

</section>

<section class="campaign-body"  ng-scrollbars ng-scrollbars-config="scrollbarConfig">
  <div class="tree" ui-tree id="tree-main">
    <ol ui-tree-nodes ng-model="campaign.detail">
      <li ng-repeat="node in campaign.detail" ui-tree-node
          ng-include="'/app/assets/dist/tpl/common/directives/nodes.directive.html'"></li>
    </ol>
  </div>
</section>