<header class="campaign-header">

  <am-campaign parameters="campaign.currentItem" full="true" on-callback="toggleViewCenterHeader();"></am-campaign>

</header>

<section class="campaign-sub-header">
  <aside class="breadcrumb">
    <ul>
      <li><a href=""><i class="fa fa-home"></i> </a></li>
      <li><a href=""><div class="text-ellipsis">Obligations</div></a></li>
      <li><a href=""><div class="text-ellipsis">Ordre simple OBLIGATION - ACHAT</div></a></li>
      <li><a href=""><div class="text-ellipsis">Ouverture de l'application SANTORIN</div></a></li>
    </ul>
  </aside>

  <nav>
    <ul>
      <li><a href=""></a></li>
    </ul>
  </nav>

</section>

<section class="campaign-body"  ng-scrollbars ng-scrollbars-config="scrollbarConfig">
  <div class="tree" ui-tree id="tree-main">
    <ol ui-tree-nodes ng-model="campaign.detail">
      <li ng-repeat="node in campaign.detail" ui-tree-node
          ng-include="'/app/assets/dist/tpl/common/directives/nodes.directive.html'"></li>
    </ol>
  </div>
</section>