// --------------------------------------------------
// Import / layout
// --------------------------------------------------

.separator (@direction: right) {
  border-@{direction} : 5px solid @base-color-light;
  background: #FFFFFF;
}

.panel {
  .header {
    .clearfix();
  }

}

#page-header {

}

#page-container {

  position: fixed;
  top: @h-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;


  > .view-left {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: @base-width-sidebar-left;
    .separator();

    .sidebar-campaigns {
      .campaigns-body {
        /*position: absolute;
        top: 0;
        bottom: 0;*/
      }
    }

    &:after{
      content: "";
      position: absolute;
      right: -5px;
      top: 50%;
      width: 5px;
      height: 50px;
      margin-top: -25px;
      background-color: #ff0000;
      z-index: @base-z-index-1;

    }
  }
  > .page-container-right {
    overflow: hidden;
    > .page-container-left {
      position: absolute;
      left: @base-width-sidebar-left;
      right: @base-width-sidebar-right;
      top: 0;
      bottom: 0;

      .campaign-sub-header{
      }

    }

    > .view-right {
      //float: right;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      width: @base-width-sidebar-right;

      .separator(left);

      .tab{
        height: 100%;
        .panel{
          height: 50%;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
}