// --------------------------------------------------
// Import / layout
// --------------------------------------------------


.separator (@direction: right) {
  //border-@{direction} : 5px solid @base-color-light;
  //padding-@{direction}: 5px;

  .layout_sep.h {
    position: absolute;
    @{direction}: 0;
    top: 0;
    bottom: 0;
    width: @base-separator-width;
    background-color: @base-color-light;
    z-index: @base-z-index-1;
    cursor: w-resize;
    .fa{
      top: 50%;
      position: absolute;
      left: 0;
      width: 5px;
      overflow: hidden;
      color: @base-color-grey;

      .globalHide-view-left&{
        .transition(@base-transition-delay, @base-transition-timing-function);
        .rotation(180deg);
      }

    }
  }

}

.panel {
  .header {
    .clearfix();
  }

}

#page-header {

}

#page-container {

  position: fixed;
  top: @h-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  > .view-left ,
  > .view-left > .wrap{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: #FFFFFF;
    width: @base-width-sidebar-left;

    .separator();

    //.translate(-@base-width-sidebar-left, 0);



    .sidebar-campaigns {
      .campaigns-body {
        /*position: absolute;
        top: 0;
        bottom: 0;*/
      }
    }

  }
  > .view-left{
    .transition(@base-transition-delay, @base-transition-timing-function);
    .globalHide-view-left &,
    .globalHide-view-left&{
      // hide view left
      .translate(-(@base-width-sidebar-left - @base-separator-width), 0);
    }
  }
  > .page-container-right {
    overflow: hidden;
    > .page-container-left {
      position: absolute;
      left: @base-width-sidebar-left;
      right: @base-width-sidebar-right;
      top: 0;
      bottom: 0;

      .transition(@base-transition-delay, @base-transition-timing-function);

      .globalHide-view-left &,
      .globalHide-view-left&{
        // hide view left
        left: 5px;
      }

      .campaign-sub-header {
      }

    }

    > .view-right {
      //float: right;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      background: #FFFFFF;
      width: @base-width-sidebar-right;

      .separator(left);

      .tab {
        height: 100%;
        .panel {
          height: 50%;
          overflow: hidden;
          position: relative;
        }
      }
    }
  }
}