// --------------------------------------------------
// Import / layout
// --------------------------------------------------

.separator (@direction: right){
  border-@{direction} : 5px solid @base-color-light;
  background: #FFFFFF;
}

#page-header{

}

#page-container{

  position: fixed;
  top: @h-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  > .page-container-left,
  > .view-left{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: @base-width-sidebar-left;
    .separator();

    .sidebar-campaigns{
      .campaigns-body{
        /*position: absolute;
        top: 0;
        bottom: 0;*/
      }
    }
  }
  > .page-container-right{
    overflow: hidden;
    > .page-container-left{
      position: absolute;
      left: @base-width-sidebar-left;
      right: @base-width-sidebar-right;
      top: 0;
      bottom: 0;



    }
    > .page-container-right,
    > .view-right{
      //float: right;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      width: @base-width-sidebar-right;

      .separator(left);
    }
  }
}