// --------------------------------------------------
// Import / theme
// --------------------------------------------------

.base-color-status-standby {
  color: @base-color-status-standby;
}

.base-color-status-progress {
  color: @base-color-status-progress;
}

.base-color-status-ok {
  color: @base-color-status-ok;
}

.base-color-status-ko {
  color: @base-color-status-ko;
}

.base-background-status-standby {
  background-color: @base-color-status-standby;
}

.base-background-status-progress {
  background-color: @base-color-status-progress;
}

.base-background-status-ok {
  background-color: @base-color-status-ok;
}

.base-background-status-ko {
  background-color: @base-color-status-ko;
}

.campaign-filter {
  margin: 20px 0 10px 0;
}

.campaign-header {

  .update {

  }

}

