// --------------------------------------------------
// Import / theme
// --------------------------------------------------

.base-color-status-standby {
  color: @base-color-status-standby;
}

.base-color-status-progress {
  color: @base-color-status-progress;
}

.base-color-status-ok {
  color: @base-color-status-ok;
}

.base-color-status-ko {
  color: @base-color-status-ko;
}

.base-background-status-standby {
  background-color: @base-color-status-standby;
}

.base-background-status-progress {
  background-color: @base-color-status-progress;
}

.base-background-status-ok {
  background-color: @base-color-status-ok;
}

.base-background-status-ko {
  background-color: @base-color-status-ko;
}

.campaign-filter {
  margin: 20px 0 10px 0;
}
.view-center{
  @vcc-header-height: 149px;
  @vcc-sub-header-height: 23px;
  @vcc-sub-body-margin-top: 10px;
  @vcc-sub-body-margin-bottom: 10px;
  .campaign-header {
    .update {
    }
  }
  .campaign-body {
    position: absolute;
    left: 0;
    right: 0;
    top: @vcc-header-height + @vcc-sub-header-height + @vcc-sub-body-margin-top;
    bottom: @vcc-sub-body-margin-bottom ;
  }
}


.panel{
  @panel-header-height: 30px;
  .panel-header{
    //border-top: 1px solid @base-color-border ;
    border-bottom: 1px solid @base-color-border ;
    .title{
      color: @base-color-text;
      font-size: @base-font-size-medium;
      text-transform: uppercase;
      padding: 5px 10px;
      font-weight: @base-font-weight-normal;
      .view-right &{
        height: @panel-header-height;
      }
    }
  }
  .panel-body{
    overflow: hidden;
    position: absolute;
    top: @panel-header-height;
    bottom: 0;
    right: 0;
    left: 0;
  }
}


// Status Color
@list: standby, progress, ok, ko;
.status-color() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      color: ~"@{base-color-status-@{value}}";
    }
  }
}

// Status Border
.status-border() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      border-color: ~"@{base-color-status-@{value}}";
    }
  }
}

// Status Background
.status-background() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      background-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-color() {
  .for(@list);
  .-each(@value) {
    .status-color.@{value}, .@{value} .status-color {
      color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-border() {
  .for(@list);
  .-each(@value) {
    .status-bg.@{value}, .@{value} .status-bg {
      border-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-background() {
  .for(@list);
  .-each(@value) {
    .status-bg.@{value}, .@{value} .status-bg {
      background-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.campaign-sub-header {
  .clearfix();
  border-bottom: 1px solid @base-color-border;
  background-color: @base-background;
  .breadcrumb {
    .breadcrumb ();
  }
}

