// --------------------------------------------------
// Import / theme
// --------------------------------------------------

.base-color-status-standby {
  color: @base-color-status-standby;
}

.base-color-status-progress {
  color: @base-color-status-progress;
}

.base-color-status-ok {
  color: @base-color-status-ok;
}

.base-color-status-ko {
  color: @base-color-status-ko;
}

.base-background-status-standby {
  background-color: @base-color-status-standby;
}

.base-background-status-progress {
  background-color: @base-color-status-progress;
}

.base-background-status-ok {
  background-color: @base-color-status-ok;
}

.base-background-status-ko {
  background-color: @base-color-status-ko;
}

.campaign-filter {
  margin: 20px 0 10px 0;
}

.campaign-header {

  .update {

  }

}

// Status Color
@list: standby, progress, ok, ko;
.status-color() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      color: ~"@{base-color-status-@{value}}";
    }
  }
}

// Status Border
.status-border() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      border-color: ~"@{base-color-status-@{value}}";
    }
  }
}

// Status Background
.status-background() {
  .for(@list);
  .-each(@value) {
    &.@{value}, .@{value} & {
      background-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-color() {
  .for(@list);
  .-each(@value) {
    .status-color.@{value}, .@{value} .status-color {
      color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-border() {
  .for(@list);
  .-each(@value) {
    .status-bg.@{value}, .@{value} .status-bg {
      border-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.init-status-background() {
  .for(@list);
  .-each(@value) {
    .status-bg.@{value}, .@{value} .status-bg {
      background-color: ~"@{base-color-status-@{value}}";
    }
  }
}

.campaign-sub-header {
  .clearfix();
  border-bottom: 1px solid @base-color-border;
  background-color: @base-background;
  .breadcrumb {
    .breadcrumb ();
  }
}

