// Variables
// --------------------------------------------------
@c-height: 60px;
@c-background: #272b35;
@c-background-detail: #fbfbfb;
@c-color-blue: @base-color-blue;
@c-color-gris: @base-color-border;
@c-width: 264px;
@c-height: 144px;
@c-indicators-left-width: 135px;
/**@c-width: 330px;
@c-height: 144px;
@c-indicators-left-width: 169px;*/
@c-indicators-right-width: @c-width - @c-indicators-left-width - 11;

@show-view-requirements: show-view-requirements;
@show-view-scenarios: show-view-scenarios;

/** Campaign
 ************************************************** */
.campaign-item {
  float: left;
  .sidebar-campaigns & {
    float: none;
  }
}

.init-view-center () {
  float: left;
  width: 33%;
  position: relative;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;
  background-color: @c-background-detail;
  .transition(20s, linear);
  .translate(0, 0);
}

.init-view-left() {
  .view-left .collapsed & {
    display: none;
  }
}

// Campaign
.campaign {
  margin: 5px;
  border-left-width: 5px;
  border-style: solid;
  border-color: @base-color-status-standby;
  .status-border();

  .view-center & {
    margin: 0;
    border-left-width: 0;
    border-top-width: 5px;
    background-color: @c-background-detail;
  }

  // Campaign // Container
  .container {
    border: 1px solid @c-color-gris;
    border-left: 0;
    width: @c-width;
    height: @c-height;
    overflow: hidden;
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-weight: @base-font-weight-light;
    color: @base-color-master;

    .view-center & {
      width: 100%;
      border-width: 0 0 1px 0;
      padding: 0 10px;
    }

    .view-left .collapsed &{
      height: auto;
    }

    .nav.category {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background: #FFFFFF;

      .view-left .collapsed &{
        display: none;
      }
      ul {
        li {
          float: left;
          width: 50%;
          line-height: 13px;
          text-align: center;
          font-size: 10px;
          color: @base-color-master-light;
          border-right: 1px solid @c-color-gris;
          border-top: 1px solid @c-color-gris;
          a {
            color: @base-color-master-light;
            text-transform: lowercase;
            .fa.fa-chevron-up {
              display: none;
            }
          }
          &:last-child {
            border-right: 0;
          }

          &.btn-show-view-requirements {
            .@{show-view-requirements}& {
              border-top-color: #FFFFFF;
              a {
                color: @base-color-selected;
              }
              .fa.fa-chevron-up {
                display: inline-block;
              }
              .fa.fa-chevron-down {
                display: none;
              }
            }
          }
          &.btn-show-view-scenarios {
            .@{show-view-scenarios}& {
              border-top-color: #FFFFFF;
              a {
                color: @base-color-selected;
              }

              .fa.fa-chevron-up {
                display: inline-block;
              }
              .fa.fa-chevron-down {
                display: none;
              }
            }
          }

        }
      }
    }

    .title-of-campaign {
      font-size: 14px;
      padding-top: 10px;
      height: 30px;
      overflow: hidden;
    }
    .aside-of-campaign {
      font-size: 10px;
      color: @base-color-master-lighter;
      .v {
        color: @base-color-master-light;

      }
    }

    // Campaign // Container // view global
    .view-global {
      padding-left: 10px;
      position: relative;

      .view-center & {
        padding-left: 0;
        .init-view-center();
      }

      a {
        color: @base-color-master;
      }

      .collapsible-toggle{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: @base-color-white;
        display: none;
        .view-left & {
         display: block;
        }
      }

      .title {
        font-size: 14px;
        padding-top: 10px;

      }
      .aside {
        font-size: 10px;
        color: @base-color-master-lighter;
        .view-left .collapsed &{
          margin-bottom: 10px;
        }
        .v {
          color: @base-color-master-light;

        }
      }
      .indicators {
        margin-top: 5px;
        .view-left .collapsed & {
          display: none;
        }
        .left,
        .right {
          float: left;
        }
        .left {
          width: @c-indicators-left-width;
        }
        .right {
          width: @c-indicators-right-width;
          .graph.circle {
            width: 70px;
            height: 70px;
            margin: 0 auto;
          }
        }
        .title {
          font-size: 10px;
          margin: 0;
          padding: 0;
          line-height: 12px;
        }
      }
    }

    // Campaign // Container // View Requirements + View Scenarios
    .view-requirements,
    .view-scenarios {
      position: absolute;
      background-color: #FFFFFF;
      bottom: 15px;
      top: 46px;
      left: 0px;
      right: 0px;
      //display: none;
      .translate(0, 100%);
      .transition(0.2s, linear);

      .view-center & {
        .init-view-center();
      }

      .view-left .collapsed & {
        display: none;
      }

      .left,
      .right {
        width: 50%;
        padding: 5px;
        float: left;
        .left,
        .right {
          padding: 0;
        }
        .left {
          width: 60%;
        }
        .right {
          width: 40%;
          .graph.bar {
            float: right;
          }
        }

        .indicator.line .items .item {
          border: 0;
          font-size: 10px;
          span {
            display: block;
            line-height: 12px;
            padding-top: 2px;
            font-weight: @base-font-weight-light;
          }
        }
      }
      .title {
        font-size: 11px;
        font-weight: @base-font-weight-light;
        color: @base-color-status-ok;
        text-align: center;
      }
      .graph.circle {
        overflow: hidden;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        text {
          font-size: 9px;
        }
      }
    }

    .view-requirements {
      .@{show-view-requirements}& {
        //display: block;
        .translate(0, 0);
      }
    }
    .view-scenarios {
      .@{show-view-scenarios}& {
        //display: block;
        .translate(0, 0);
      }
    }

    .indicator.line {
      .items {
        .item {
          float: left;
          text-align: center;
          border-top-width: 5px;
          border-top-style: solid;
          font-size: 11px;
          line-height: 15px;
          span {
            color: @base-color-status-standby;
            font-weight: @base-font-weight-normal;
          }
          &.standby {
            border-top-color: @base-color-status-standby;
            span {
              color: @base-color-status-standby;
            }
          }
          &.progress {
            border-top-color: @base-color-status-progress;
            span {
              color: @base-color-status-progress;
            }
          }
          &.ok {
            border-top-color: @base-color-status-ok;
            span {
              color: @base-color-status-ok;
            }
          }
          &.ko {
            border-top-color: @base-color-status-ko;
            span {
              color: @base-color-status-ko;
            }
          }

        }
        &.one .item {
          width: 33%;
        }
        &.two .item {
          width: 50%;
        }
        &.three .item {
          width: 33%;
        }
        &.four .item {
          width: 25%;
        }
      }
    }

  }

}