// Variables
// --------------------------------------------------
@c-height: 60px;
@c-background: #272b35;
@c-color-blue: @base-color-blue;
@c-color-gris: #dcdfe3;
@c-width: 264px;
@c-height: 144px;


/** Campaign
 ************************************************** */
.campaign-item{
  float: left;
}
.campaign {
  margin: 5px;
  border-left-width: 5px;
  border-style: solid;
  border-color: @base-color-status-standby;
  .status-standby&, .status-standby & {
    border-color: @base-color-status-standby;
  }
  .status-progress&, .status-progress & {
    border-color: @base-color-status-progress;
  }
  .status-ok&, .status-ok & {
    border-color: @base-color-status-ok;
  }
  .status-ko&, .status-ko & {
    border-color: @base-color-status-ko;
  }

  .container{
    border: 1px solid @c-color-gris;
    border-left: 0;
    width: @c-width;
    height: @c-height;
    overflow: hidden;
    .circle{
      width: 100px;
      margin: 6px 6px 20px;
      display: inline-block;
      position: relative;
      text-align: center;
      line-height: 1.2;
      .val {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
      }
    }


  }
}