.filter-header {
  .user-select(none);
  .clearfix();
  border-top: 1px solid @base-color-border;
  border-bottom: 1px solid @base-color-border;
  display: block;
  width: 100%;

  .filter-application {
    .filter-list-vertical();

  }

}

.filter-list-horizontal {
  .filter-list-horizontal();

  &.right {
    float: right;
    border-left: 1px solid @base-color-border;
  }
  &.left {
    float: left;
  }
  &.table {
    display: table;
    width: 100%;
  }
}

.filter-list-horizontal() {
  li {
    float: left;
    .table& {
      display: table-cell;
      float: none;
    }
  }

  .btn {
    padding: 0 10px;
    line-height: 36px;
    border-right: 1px solid @base-color-border;
    color: @base-color-master-lighter;
    display: block;
    position: relative;
    .table& {
      text-align: center;
    }
  }

  input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    &:checked + label {
      color: @base-color-blue;
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        border: 1px solid #FFFFFF;
      }
    }
  }

}

.filter-list-vertical {
  .filter-list-vertical();
}

.filter-list-vertical() {
  position: relative;
  .drop-down-menu {
    position: absolute;
    top: 37px;
    right: 0px;
    background: #FFFFFF;
    z-index: @base-z-index-10;
    display: none;
    min-width: 200px;
    border: 1px solid @base-color-border;
    border-top: 0;
    li {
      float: none;
      display: block;
      a {
        display: block;
        border: none;
        float: none;
        padding: 2px 10px;
        text-transform: capitalize;
        color: @base-color-master-lighter;
        &:hover {
          color: @base-color-master;
        }
      }
    }
  }
  &:hover {
    .drop-down-toggle {
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        border: 1px solid #FFFFFF;
      }
    }
    .drop-down-menu {
      display: block;
      .drop-shadow(0, 3px, 5px, 0.1);
    }
  }

}