// Variables
// --------------------------------------------------
@h-header-height: 60px;
@h-header-background: #272b35;
@h-header-background-light: #32363f;
@h-header-border-color: #383d49;
@h-header-color-blue: @base-color-blue;


/** Header
 ************************************************** */
#page-header {
  .user-select(none);
  height: @h-header-height;
  background: @h-header-background;
  padding: 12px 20px;
  line-height: @h-header-height - 24;
  * {
    color: #FFFFFF;
  }
  .header-left {
    float: left;
    .nav {
      float: left;
    }
    .title {
      float: left;
      line-height: @h-header-height - 24;
      padding: 0 0 0 10px;
      font-weight: @base-font-weight-normal;
      span {
        color: @h-header-color-blue;
      }
    }
  }
  .header-right {
    float: right;
    .nav{
      padding: 10px 0;
      ul{
        li{
          float: left;
          border-left: 1px solid #383d49;
          a{
            padding: 0 10px;
            line-height: 16px;
            display: block;
            font-size: 14px;
            .fa{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .header-search{
    float: left;
    width: 50%;
    margin: 0 0 0 40px;
    position: relative;

    .search-global{
      border-bottom: 1px solid @h-header-border-color;
      .form-control{
        background: transparent;
        border: 0;
        font-weight: @base-font-weight-light;
        width: 100%;
        &:focus + .btn.search{
          color: @base-color-master-lighter;
        }
      }
      .btn.submit {
        display: none;
      }
      .btn.search{
        position: absolute;
        right: 8px;
        top: 40%;
        margin-top: -8px;
        color: @h-header-border-color;
      }
    }
  }
}

/* ** End Header ** */