@import "import/reset";
@import "import/variables";
@import "import/util";

@import "import/include/header";
@import "import/include/campagne";

body {
  color: @base-color-master;
  background: #FFFFFF;
  font-family: @base-font-family;
  font-weight: @base-font-weight-light;
  a {
    text-decoration: none;
    display: block;
    &:hover, &:active {
      text-decoration: none;
    }
  }
  .page-container{
    padding: 15px;
  }
}