@import "import/reset";
@import "import/variables";
@import "import/util";
@import "import/include/header";
@import "import/include/campaign";

body {
  color: @base-color-master;
  background: #FFFFFF;
  font-family: @base-font-family;
  font-weight: @base-font-weight-light;
  a {
    text-decoration: none;
    display: block;
    &:hover, &:active {
      text-decoration: none;
    }
  }
  .page-container {
    padding: 15px 0;

    .campaign-filter {
      border-top: 1px solid @base-color-border;
      border-bottom: 1px solid @base-color-border;
      display: block;
      width: 100%;
      margin: 20px 0 10px 0;
      li,
      .btn-group {
        float: left;
        input[type="radio"]:checked + label {
          color:#f00;
        }
        a,
        .btn {
          padding: 0 10px;
          line-height: 36px;
          border-left: 1px solid @base-color-border;
          color: @base-color-master-lighter;
          display: block;
          float: left;
          input[type=radio]{
            position: absolute;
            clip: rect(0,0,0,0);
            &:checked + label{
              color: #ff0;
            }
          }


        }
        &.filter-search,
        &.filter-application {
          float: right;
        }
      }
    }
    .campaign-list {
      padding: 0 15px;
    }
  }
}