<header id="page-header" class="header page-header">
    <div class="header-left">
        <div class="nav">
            <a href="" class="fa fa-navicon"></a>
        </div>
        <h1 class="title"><a ui-sref="main.dashboard"> T<span>N</span>R</a></h1>
    </div>
    <div class="header-search">
        <form class="search-global ng-pristine ng-valid">
            <input type="text" class="form-control input">
            <i class="btn search fa fa-search"></i>
            <input type="submit" class="form-control btn submit">
        </form>
    </div>
    <div class="header-right">
        <nav class="nav">
            <ul class="clearfix">
                <li class="alert"><a href="" class="fa fa-plus"></a></li>
                <li class="alert"><a href="" class="fa fa-bell-o"></a></li>
                <li class="user"><a href="">Alexandre Bury<i class="fa fa-angle-down"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<section ui-view id="page-container" class="page-container"  ng-class="{'globalHide-view-left': globalHide.view.left, 'globalHide-view-center-header': globalHide.view.center.header, 'globalEdit': campaign.modeEdit }"></section>