<div class="campaign-item {{campaign.parameters.status}}">
    <div class="campaign" ng-class="showView">
        <div class="container">
            <section class="view-global">
                <a ui-sref="main.campaign.detail({campaignId:campaign.parameters.id})" ui->
                    <h2 class="title"><span class="ref">{{campaign.parameters.name}}</h2>
                    <aside class="aside">Crée par <span class="v author">{{campaign.parameters.user.name}}</span> le <span class="v date">{{campaign.parameters.date}}</span>
                    </aside>
                    <div class="indicators clearfix">
                        <div class="left">
                            <am-indicator title="Sénarios" class="scenarios" parameters="campaign.parameters.scenarios.series.json"></am-indicator>

                            <am-indicator title="éxigences" class="requirements"
                                          parameters="campaign.parameters.requirements.series.json"></am-indicator>

                        </div>
                        <div class="right">
                            <am-chart-circle class="graph d3js circle"
                                             parameters="campaign.parameters.json"
                                             width="70"
                                             height="70"></am-chart-circle>
                        </div>
                    </div>
                </a>
            </section>
            <section class="view-requirements clearfix">

                <div class="left">
                    <div class="left">
                        <am-indicator title="Exigences" show="true" class="scenarios"
                                      parameters="campaign.parameters.json"></am-indicator>
                    </div>
                    <div class="right">
                        <am-chart-bar class="graph d3js bar"
                                      parameters="campaign.parameters.json"
                                      width="70"
                                      height="70"></am-chart-bar>
                    </div>
                </div>

                <div class="right">
                    <div class="left">
                        <am-indicator title="Tests" class="scenarios" show="true"
                                      parameters="campaign.parameters.json"></am-indicator>
                    </div>
                    <div class="right">
                        <am-chart-bar class="graph d3js bar"
                                      parameters="campaign.parameters.json"
                                      width="70"
                                      height="70"></am-chart-bar>
                    </div>
                </div>

            </section>
            <section class="view-scenarios">
                <div class="left">
                    <div class="left">
                        <am-indicator title="Sénarios" show="true" class="scenarios"
                                      parameters="campaign.parameters.scenarios.series.json"></am-indicator>
                    </div>
                    <div class="right">
                        <am-chart-bar class="graph d3js bar"
                                      parameters="campaign.parameters.scenarios.series.json"
                                      width="70"
                                      height="70"></am-chart-bar>
                    </div>
                </div>


                <div class="right">
                    <div class="left">
                        <am-indicator title="Tests" class="scenarios" show="true"
                                      parameters="campaign.parameters.json"></am-indicator>
                    </div>
                    <div class="right">
                        <am-chart-bar class="graph d3js bar"
                                      parameters="campaign.parameters.json"
                                      width="70"
                                      height="70"></am-chart-bar>
                    </div>
                </div>
            </section>
            <nav class="nav category" ng-init="showView=''">
                <ul>
                    <li class="btn-show-view-requirements"><a href=""
                                                              ng-click=" showView = (showView == 'show-view-requirements') ?  '' : 'show-view-requirements' "><i
                            class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>Exigences<i
                            class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i></a></li>
                    <li class="btn-show-view-scenarios"><a href=""
                                                           ng-click=" showView = (showView == 'show-view-scenarios') ?  '' : 'show-view-scenarios' "><i
                            class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i>Scénarios<i
                            class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>